

.blur-image {
    filter: blur(8px);
}

.moto-box {
    text-align: center;

}

.moto-box-content {

}

.moto-box h1 {
    font-family: "Segoe UI Emoji", serif;
    color: darkorange;
    font-size: 3vw;
}

.moto-box h2 {
    color: darkorange;
    font-size: 5vw;
}

.moto-box textarea {
    background-color: transparent;
    color: darkorange;
    font-size: 5vw;
    height: 10vh;
    border: none;
    margin-left: 8vw;
}

.moto-box p {
    color: indianred;
    font-size: 3vw;
}

.brawl-stars-span {
    color: mediumvioletred;
}

.moto-box span {
    font-family: "Segoe UI Emoji", serif;
    font-size: 3.6vw;
}
.open-cv-span {
    color: mediumvioletred;
}

.players-span {
    color: mediumvioletred;
}

.content-box {
    margin-left: 10vw;
    margin-top: 20vh;
}

