
.goals-pyla-box {
    float: right;
    width: 37vw;
    height: 140vh;
}

.goals-pyla-box textarea {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 1.4vw;
    color: indianred;
    background: none;
    border: none;
    line-height: 7vh;
    text-align: center;
}

.goals-pyla-box p{
   font-size: 3vw   ;
    color: firebrick;
    margin-left: 1vw;
}
.goals-pyla-box span {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 1.4vw;
    color: indianred;

}
/* //////////////   */
.about-pyla-box {
    float: left;
    width: 37vw;
    height: 90vh;
    padding-right: 1vw;
    border-right: 3px dashed darkslategray;
    border-right-style: ridge;
}

.about-pyla-box p {
    font-size: 3vw;
    color: firebrick;
    max-width: 39vw;
}

.about-pyla-box textarea {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 1.4vw;
    color: indianred;
    background: none;
    border: none;
    line-height: 7vh;
    text-align: center;

}

.about-pyla-box span {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 1.4vw;
    color: indianred;
}
/* ////////////// */

.pyla-information-box {
    text-align: center;
    padding-top: 1vh;
    padding-left: 10vw;
    max-width: 110vw;
}

.brawl-stars-info-span {
    color: pink;
}

.pyla-information-box hr {

}

.pyla-information-box p {

}

.pyla-information-box h1 {
    color: sandybrown;
    font-size: 8vw;
}

.pyla-information-box img {

}

.title {
    color: darkred;
}

.hr {

}