{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static '/web/web_css/index_.web_css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/web/web_css/about_us_css/aboutus1.css' %}">
    </head>
    <div class="pyla-information-box">

        <h1> Py<span class="title">La</span> </h1>
        <hr>

        <div>

            <div class="about-pyla-box">
                <p> What is PyLa?</p>
                <p> <span>{{ description }}
                </span>
                    <br>
                    <br>
{#                <span style="color: firebrick;">#}
{#                    Trophies is the ranking system in Brawl Stars.#}
{#                    You play games with real people and based on your wins you earn a given amount of trophies.#}
{#                </span>#}
                </p>
            </div>

            <div class="goals-pyla-box">
                <p> Goals for 2022</p>
                <p> <span>{{ goals }}
                </span>
                </p>
            </div>

        </div>
    </div>

{% endblock %}