{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<head>
    <style>
        h1 {
            color: red;
        }
    </style>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static '/web/web_css/index1.css' %}">
</head>
<body>

<div id="main-content">
    <div class="content-box">
        <div class="moto-box-content">
        <div class="moto-box">
            <h2> {{ moto }}</h2>
            <p> PyLa is strong <span class="open-cv-span"> OpenCV A.I.</span> that plays a very popular game called <span class="brawl-stars-span">
                Brawl Stars </span> that has over
                <span class="players-span">100 million players</span>
            </p>
        </div>
    </div>
</div>
</div>
</body>


{% endblock %}